body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

header {
    height: 80px;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-family: sans-serif;
}

main {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

form {
    height: 90px;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.playerInput {
    display: flex;
    gap: 5px;
}

.button-container {
    display: flex;
    gap: 15px;
}

.grid {
    height: 440px;
    width: 440px;
    background-color: white;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 140px);
    gap: 10px;
    border: solid;
    border-color: burlywood;
    border-width: 10px;
}

.gridBox {
    height: 140px;
    width: 140;
    background-color: black;
    color: white;
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    height: 30px;
}